body {
    background-color: #ffffff;
    color: rgb(45, 85, 245);
    font-family: 'Space Mono', monospace;
    font-size: 18px;
    text-align: center;
    background-image: url("")
}

img {
    width: 15%;
    margin: auto;
    display: block;
}