body {
  background-color: rgb(19, 103, 94)
}


a {
  color: rgb(221, 198, 64);
}

a:hover {
  color: rgb(255, 255, 255);
}


.inner-shape {
  width: 100px;
  height: 100px;
  background: rgb(205, 165, 34);


}

.outer-shape {
  width: 600px;
  height: 600px;
  background: red;
}

.outer-shape:hover>.inner-shape {
  background: white;
}

div:hover~div {
  background: rgb(255, 255, 255);
}

.outer-shape:hover .inner-shape:nth-child(odd) {
  background: rgb(205, 165, 34);
}