
/* reset styles */
* { margin: 0px; padding: 0px; }

/* make the background of the page black */
body { background: black;}

/* mickey canvas */
  #canvas {
  width: 400px;
  height: 600px;
  position: relative;
  background: white;
}

/* shapes */
/* make all divs inside of #canvas a circle */
#canvas div{
  border-radius: 200px;
  position: absolute;
}

/* 
adjust the top and left 
properties of the elements
to position them 
*/

#ear-1 {
  width: 95px;
  height: 95px;
  background: black;

  top: 160px;
  left: 100px;
 
}

#ear-2 {
  width: 95px;
  height: 95px;
  background: black;
  top: 160px;
  left: 300px;}

#head {
  width: 180px;
  height: 180px;
  background: beige;
  
  top: 220px;
  left: 150px;
}

#eye-1 {
  width: 25px;
  height: 25px;
  background: black;
  
  top: 260px;
  left: 260px;
}

#eye-2 {
  width: 25px;
  height: 25px;
  background: black;
  
  top: 260px;
  left: 180px;
}

#nose {
  width: 45px;
  height: 45px;
  background: black;
  
  top: 300px;
  left: 200px;
}

#mouth {
  width: 30px;
  height: 30px;
  background: red;
  
  top: 350px;
  left: 215px;
}

#body {
  width: 160px;
  height: 160px;
  background: red;
  
  top: 400px;
  left: 170px;
}

#button-1 {
  width: 32px;
  height: 32px;
  background: black;
  
  top: 450px;
  left: 200px;
}

#button-2 {
  width: 32px;
  height: 32px;
  background: black;
  
  top: 500px;
  left: 200px;
}

#foot-1 {
  width: 80px;
  height: 80px;
  background: yellow;
  
  top: 550px;
  left: 150px;
}

#foot-2 {
  width: 80px;
  height: 80px;
  background: yellow;
  
  top: 550px;
  left: 250px;
}